<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Bibliothécaire</title>
</head>
<body>
    <h1>Tableau de Bord</h1>
    <a href="/logout/">Se déconnecter</a>

    <h2>Gestion des Livres</h2>
    <a href="/livres/ajouter/">Ajouter un Livre</a>
    <ul>
        {% for livre in livres %}
            <li>{{ livre.titre }} - {{ livre.auteur }}
                <a href="{% url 'supprimer_livre' livre.id %}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'liste_livres' %}">Voir la liste des livres</a>

    <h2>Gestion des DVD</h2>

    <h2>Gestion des jeux de plateaux</h2>

    <h2>Gestion des Membres</h2>
    <a href="/membres/ajouter/">Ajouter un Membre</a>
    <ul>
        {% for membre in membres %}
            <li>{{ membre.name }} - Emprunts actifs: {{ membre.emprunts_actifs }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'liste_membres' %}">Voir la liste des membres</a>
</body>
</html>