<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Bibliothécaire</title>
</head>
<body>
    <h1>Tableau de Bord</h1>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Se Déconnecter</button>
</form>

    <h2>Gestion des Livres</h2>
    <a href="/livres/ajouter/">Ajouter un Livre</a>
    <a href="{% url 'liste_livres' %}">Voir la liste des livres</a>

    <h2>Gestion des DVD</h2>
    <a href="{% url 'ajouter_dvd' %}">Ajouter un DVD</a>
    <a href="{% url 'liste_dvd' %}">Voir la liste des DVD</a>

    <h2>Gestion des CD</h2>
    <a href="{% url 'ajouter_cd' %}">Ajouter un CD</a>
    <a href="{% url 'liste_cd' %}">Voir la liste des CD</a>

    <h2>Gestion des Jeux de Plateau</h2>
    <a href="{% url 'ajouter_jeu' %}">Ajouter un Jeu de Plateau</a>
    <a href="{% url 'liste_jeux' %}">Voir la liste des Jeux de Plateau</a>

    <h2>Gestion des Membres</h2>
    <a href="/membres/ajouter/">Ajouter un Membre</a>
    <a href="{% url 'liste_membres' %}">Voir la liste des membres</a>

    <h2>Gestion des Emprunts</h2>
    <a href="{% url 'gerer_emprunt' %}">Gérer les Emprunts</a>
</body>
</html>