<!DOCTYPE html>
<html>
<head>
    <title>Liste des DVD</title>
</head>
<body>
    <h1>Liste des DVD</h1>
    <a href="{% url 'ajouter_dvd' %}">Ajouter un DVD</a>

    <form method="post">
        {% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    <th>Sélection</th>
                    <th>Nom</th>
                    <th>Réalisateur</th>
                </tr>
            </thead>
            <tbody>
                {% for dvd in dvds %}
                <tr>
                    <td><input type="checkbox" name="dvds_selectionnes" value="{{ dvd.id }}"></td>
                    <td>{{ dvd.name }}</td>
                    <td>{{ dvd.realisateur }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ces DVD ?')">Supprimer la sélection</button>
    </form>
    <a href="{% url 'dashboard' %}">Retour au Dashboard</a>
</body>
</html>