<!DOCTYPE html>
<html>
<head>
    <title>Liste des Jeux de Plateau</title>
</head>
<body>
    <h1>Liste des Jeux de Plateau</h1>
    <a href="{% url 'ajouter_jeu' %}">Ajouter un Jeu de Plateau</a>

    <form method="post">
        {% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    <th>Sélection</th>
                    <th>Nom</th>
                    <th>Créateur</th>
                </tr>
            </thead>
            <tbody>
                {% for jeu in jeux %}
                <tr>
                    <td><input type="checkbox" name="jeux_selectionnes" value="{{ jeu.id }}"></td>
                    <td>{{ jeu.name }}</td>
                    <td>{{ jeu.createur }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ces jeux de plateau ?')">Supprimer la sélection</button>
    </form>
    <a href="{% url 'dashboard' %}">Retour au Dashboard</a>
</body>
</html>